.ul {
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	
  	overflow: hidden;
  	background-color: #32425c;
  	
  	display: flex;
  	flex-direction: row;
  	justify-content: space-around;

}

.li_a {
  display: block;
  color: white;
  text-align: center;
  margin: 0px;
  margin-top: 17px;
  padding: 10px 16px;
  text-decoration: none;
  background: #47556d;
}
